.messagepopup-modal-dialog {
  position: absolute;
  top: 2%;
  left: 40%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  margin: 0;
  z-index: 1050;
  pointer-events: none;
}

.messagepopup-modal .modal-dialog {
  pointer-events: auto;
}

.messagepopup-modal .modal-backdrop {
  display: none;
}
